@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	font-size:13px;
	font-family:"微软雅黑";
	list-style:none;}
a {
	text-decoration:none;}
body {
	
	}
.clear {
	clear:both;}
input {
	border:1px #ddd solid;}
.biaodan-hd {
	padding-top:0px;
	font-size:16px;
	color:#fff;
	line-height:35px;
	background: #0087d2;}
.wrap {
	width:100%;
	min-width:320px;
	background: #f8f8f8;}
.title {
	width:100%;
	background:#fff;
	height:35px;
	position:relative;}
.title .new-a-back {
	display:block;
	background:url(../images/back.png) no-repeat;
	width:10px;
	height:25px;	
	overflow:hidden;
	white-space:nowrap;
	text-indent:30px;
	position:absolute;
	left:10px;
	top:6px;
	background-size:8px 20px;}
.title input {
	text-align:center;
	margin:0 auto;
	width:40%;
	}
.title h2 {
	text-align:center;
	padding-top:6px;
	color:#000;
	font-size:16px;}
.new-a-ewm {
    position: absolute;
    top: 2px;
    right: 12px;
    width: 38px;
    height: 28px;
}
.new-a-ewm span {
    display: inline-block;
    width: 38px;
    height: 28px;
    margin: 3px 0px 0px 8px;
    background:url(../images/person.png) no-repeat ;
	background-size:38px 28px;
    text-indent: -9999px;
}
.new-s-srch {
    position: absolute;
    top: 6px;
    width:30px;
    height: 21px;
    border-left: 1px solid #CCC;
    background: -moz-linear-gradient(center top , #F7F7F7, #EFEFEF) repeat scroll 0% 0% transparent;}
.new-s-srch span {
    display: block;
    width:30px;
    height: 21px;
    background:url(../images/icon.png) no-repeat scroll 5px -1058px transparent;

}
.logo {
	width:100%;
	height:35px;
	border-bottom:2px dotted #fac84b;
	padding-bottom:5px;
	background:url(../images/logo.png) no-repeat center;
	margin-bottom:2px;}
.banner img {
	width:100%;
	border:none;}

/*.icon {
	width:100%;}
.icon ul {
	width:100%;}
.icon ul li {
	width:33%;
	float:left;
	text-align:center;}
.foot {
	width:100%;}
.foot .foot_title img{
	width:100%;}
.foot .foot_banner img {
	width:100%;}*/
/* foot strat */
.login-area {
    padding-bottom: 1.8em;
    text-align: center;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
    margin: 0px auto;
}
.login-area .login {
    padding: 0.55em 0.71em;
    border-bottom: 1px solid #E5E5E5;
    text-align: left;
}
.login-area a {
    
    color: #666;
}
.login-area .lg-bar {
    display: inline-block;
    margin: 0px 2px;
    color: #666;
}
.new-fr {
    float: right;
}
.login-area .login {
    text-align: left;
}
.space {
	margin-top:10px;}
.float {
	float:right;
	font-size:12px;
	color:#6E6E6E;
	margin-right:10px;
	font-weight:lighter;}
.font11px {
	font-size:12px;}
.text3 button.none {
	border:none;
	width:50px;}

/* foot end */
.fl-right {
	width:76%;
	float:left;
	}    
.fl-right li {
	background: #FFF none repeat scroll 0% 0%;
   border: 1px solid #CCC;
   margin-left: 2.0%;
   width:28%;
  text-align: center;
  border-radius: 3px;
  line-height: 28px;
  float:left;
  margin-top:10px;}
 .fl-right li.on {
	 background: transparent url(../images/djbg.png) no-repeat scroll 100% 100%;
	 background-size: 1.462em 1em; 
}
 .fl-right li.on a {
	 color: #F50C48;}
.fl-left {
	width:24%;
	float:left;
	text-align:right;
	line-height: 28px;
	margin-top:10px;}
.gray {
	color:#999;
	float:right;}
ul.btn-text, ul.btn-cx {
	width:80%;
	margin:0 auto;}
ul.btn-text li {
	width:45%;
	float:left;
	margin-left:10%;
	margin-top:10px;
	
	}
ul.btn-text li input {
	width:100%;
	background:#fff;
	border-radius:3px;
	line-height:28px;
	text-align:center;
	color:#000;}
ul.btn-cx li {
	float:left;
	}
ul.btn-cx li input {
	line-height:28px;}
.btn-cx-left input {
	background:#fff;
	padding-left:4px;
	color:#999;
	border-right:none;
	width:100%;

	}
.btn-cx-left {
	width:58%;}
ul.btn-cx li.btn-cx-bg {margin-left:0px;}
li.btn-cx-bg input {
	background:url(../images/cx.png) no-repeat 100% 50% #f8f8f8;
	width:28px;
	height:30px;
	border:1px #ddd solid;
	border-left:none;
	border-radius:3px;
		}
li.btn-cx-bg {
	width:28px;}
li.btn-sx {

	}
li.btn-sx input {
	background:url(../images/sx.png) no-repeat 100% 50% #eee;
	width:70px;
	text-align:left;
	height: 30px;
	border:solid #ddd 1px;
	border-radius:3px;}
ul.btn-cx li.btn-sx {
	float:right;}