

.right .S_Lmain{
	width:100%;
	clear:both;
	margin-bottom:10px;
}

.right .S_Lmain h2{
	background:url(../images/title_left.png) no-repeat;
	height:33px;
	line-height:33px;
	vertical-align:middle;
	overflow:hidden;
}

.right .S_Lmain h2 .title{
	height: 33px;
	background:#eaeaea;

}
.right .S_Lmain h2 .title p{
	float:left;
	height:28px;
	font-weight:bold;
	color:#000;
	font-size: 14px;
	padding-left: 30px;
	padding-top:4px;
	line-height:25px;
}
.right .S_Lmain h2 .title .introduce{
	width:100%;
	height:33px;
}
.right .S_Lmain h2 .title .introduce ul{
	width:100%;
	height:33px;
	padding:0;
}
.right .S_Lmain h2 .title .introduce ul li{
	float:left;
	height:33px;
	line-height:33px;
	border-right: 1px solid #ccc;
	width:24.6%;
}
.right .S_Lmain h2 .title .introduce a{
	
	height:30px;
	text-align:center;
	display:block;
}
.right .S_Lmain h2 .title .introduce .selected{
	color:#ef285a;
	border-bottom:#ef285a 2px solid;
	line-height:30px;
}
.right .S_Lmain h2 .title p b{
	font-size:12px;
	font-weight:normal;
	padding-right:5px;
	float:left;
}
.right .S_Lmain h2 .title p input{
	margin-right:5px;
}
.right .S_Lmain h2 .title ul{
	height:25px;
	overflow:hidden;
	white-space:nowrap;
	padding-top:8px;
	float:right;
	padding-right:10px;
}
.right .S_Lmain h2 .title ul li{
	height:25px;
	line-height:25px;
	white-space:nowrap;
	float:left;
	font-weight:normal;
	cursor:pointer;
}
.right .S_Lmain h2 .title ol{
	height:26px;
	overflow:hidden;
	white-space:nowrap;
	float:right;
	padding-right:10px;
	padding-top: 5px;
}
.right .S_Lmain h2 .title ol li{
	height:21px;
	line-height:21px;
	white-space:nowrap;
	float:left;
	font-weight:normal;
	background: url("/images/bg_btn_top.gif") repeat-x center top;
	border: 1px solid #C6D1E8;
	cursor: pointer;
	padding:0 5px;
	margin-right: 5px;
}
.right .S_Lmain h2 .title ol li a{
	padding-right:12px;
}
.right .S_Lmain h2 .title ol li .down{
	background:url(../images/bg_btn_top.gif) no-repeat right -68px;
}
.right .S_Lmain h2 .title ol li .up{
	background:url(../images/bg_btn_top.gif) no-repeat right -39px;
}

.right .S_Lmain h2 .title span{
	float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 14px;
    text-align: center;
	color:#4b4b4b;
}
.right .S_Lmain h2 .title ul li.on{
	height:25px;
	background:url(../images/title_bg.png) no-repeat 0 -140px;
	line-height:25px;
}
.right .S_Lmain h2 .title ul li.on span{
	background:url(../images/title_bg.png) no-repeat right -165px;
	height:25px;
	line-height:25px;
}
.right .S_Lmain h2 .title ul li.on span a{
	color:#4b4b4b;
	font-size:12px;
}

.right .S_Lmain .list{

	background:#FFF;
}



.right .S_Lmain .list .right_text{
	width:600px;
	line-height:16pt;
	float:left;
	margin-left:10px;
}

.right .S_Lmain .list .right_text .button{
	width:46px;
	height:24px;
	line-height:24px;
	color:#FFF;
	text-align:center;
	background:url(../images/search_button.png) no-repeat;
	border:0;
	margin-right:5px;
	margin-bottom:2px;

}
.right .S_Lmain .list table{
	margin-bottom:10px;
}

.right .S_Lmain .list td span{
	float:left;
	text-align:center;
	width: 63px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.right .S_Smain{
	float:left;
	width:359px;
	margin-bottom:10px;
}

.right .S_Smain h2{
	float:left;
	background:url(../images/title_left.png) no-repeat;
	height:33px;
	line-height:33px;
	vertical-align:middle;
	overflow:hidden;
	width:359px;
}

.right .S_Smain h2 .title{
	background:url(../images/title_right.png) no-repeat right;
	padding-left:13px;
	height: 33px;
	float:left;
	width:346px;
}
.right .S_Smain h2 .title p{
	float:left;
	height:33px;
	font-weight:bold;
	color:#000;
	padding-left:30px;
	font-size:14px
}
.right .S_Smain h2 .title ul{
	height:28px;
	overflow:hidden;
	white-space:nowrap;
	padding-top:3px;
	float:right;
	padding-right:10px;
}
.right .S_Smain h2 .title ul li{
	height:25px;
	line-height:25px;
	white-space:nowrap;
	float:left;
	font-weight:normal;
}
.right .S_Smain h2 .title span{
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	text-align: center;
	color:#4b4b4b;
}
.right .S_Smain h2 .title ul li.on{
	height:25px;
	background:url(../images/title_bg.png) no-repeat 0 -140px;
	line-height:25px;
}
.right .S_Smain h2 .title ul li.on span{
	background:url(../images/title_bg.png) no-repeat right -165px;
	height:25px;
	line-height:25px;
}
.right .S_Smain h2 .title ul li.on span a{
	color:#4b4b4b;
	font-size:12px;
}

.right .S_Smain .list{
	width:337px;
	float:left;
	border-left:1px #dedede solid;
	border-right:1px #dedede solid;
	border-bottom:1px #dedede solid;
	padding:10px;
	background:#FFF;
}
.right .S_Smain .list dl{
	width:80px;
	float:left;
	padding-right: 2px;
	padding-left: 3px;
}
.right .S_Smain .list dl dt{
	width:80px;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	line-height:22pt;
}
.right .S_Smain .list dl dt img{
	border:1px solid #999;
	padding:1px;
	background:#FFF;
}
.right .S_Smain .list dl dd{
	width:98px;
	height:40px;
	float:left;
	line-height:16pt;
	overflow:hidden;
	color:#999;
}
.right .S_Smain .list ul{
	width:333px;
	float:left;
	overflow:hidden;
}
.right .S_Smain .list ul li{
	width:329px;
	height:25px;
	line-height:25px;
	border-bottom:1px #CCC dotted;
	overflow:hidden;
	white-space:nowrap;
	vertical-align:middle;
	padding-right:4px;
}
.right .S_Smain .list ul li .button{
	width:46px;
	height:24px;
	line-height:24px;
	color:#FFF;
	text-align:center;
	background:url(../images/search_button.png) no-repeat;
	border:0;
	margin-right:5px;
	margin-bottom:2px;

}
.right .S_Smain .list ul li a{
	float:left;
	width:200px;
	overflow:hidden;
	white-space:nowrap;
}
.right .S_Smain .list ul li span{
	width:60px;
	overflow:hidden;
	float:right;
	color:#999;
	font-size: 10px;
}
.right .S_Smain .list ol{
	float:left;
	list-style:none;
	width:225px;
}
.right .S_Smain .list ol li{
	width:220px;
	line-height:25px;
	border-bottom:1px #CCC dotted;
	overflow:hidden;
	white-space:nowrap;
	vertical-align:middle;
	height:25px;
}
.right .S_Smain .list .left_img{
	float:left;
	padding-right:7px;
	line-height:25.5pt;
}
.right .S_Smain .list .left_img img{
    padding:1px;
	border:1px solid #333;
	background:#FFF;
}
.right .S_Smain .list ol li a{
	float:left;
	width:140px;
	overflow:hidden;
	white-space:nowrap;
}
.right .S_Smain .list ol li span{
	width:60px;
	overflow:hidden;
	float:right;
	color:#999;
	font-size: 10px;
}
.right .S_Smain .list .right_text{
	width:230px;
	line-height:16pt;
	float:left;
	margin-left:10px;
	margin-bottom: 10px;
}

























